{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Welcome to my website!</h1>
        <h5>Post errors you encounter for other users to comment and correct them.</h5>
        <p>It's crucial to pay attention to details, follow programming syntax rules, and use best practices to avoid and resolve coding errors.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}